[user]
	name = gprohaska
	email = g.prohaska@cisc.at
[core]
	autocrlf = input
[alias]
	logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
